#easy {
  width: 200px;
  height: 200px;
  border-radius: 150px;
  border-color: red;
  background-color: blue;
  font-size: 50px;
  color: pink;
}
#Hard {
  width: 200px;
  height: 200px;
  border-radius: 150px;
  border-color: Red;
  background-color: Black;
  font-size: 50px;
  color: White;
}
